localhost {
    encode gzip zstd
    file_server {
        root /spa_files
    }

    route /api* {
        uri strip_prefix /api
        reverse_proxy {$DEFAULT_API}:8443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    route /quart_api* {
        uri strip_prefix /quart_api
        reverse_proxy quart_api:8443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }
}