localhost {

    uri replace /api/ /{$DEFAULT_BACKEND_API}/ 1

    route /fastapi_api* {
        uri strip_prefix /fastapi_api
        reverse_proxy fastapi_api:8443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    route /quart_api* {
        uri strip_prefix /quart_api
        reverse_proxy quart_api:8443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    @compress_exts {
        not path *.gif *.jpg *.png
    }

    encode @compress_exts gzip zstd

    file_server {
        root /dist
    }
}
